.dark{


    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
           span{
              background: #fff !important;
           }
     }

     .ant-space-item{
         span{
             color: var(--white);
        }
     }
     :where(.css-dev-only-do-not-override-1ae8k9u).ant-pagination .ant-pagination-total-text , :where(.css-dev-only-do-not-override-1ae8k9u).ant-pagination .ant-pagination-disabled .ant-pagination-item-link, :where(.css-dev-only-do-not-override-1ae8k9u).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link , :where(.css-dev-only-do-not-override-1ae8k9u).ant-pagination .ant-pagination-item a{
        color: var(--blacktowhite);
     }
     .ant-drawer-content{
        background: var(--bg);
        .ant-drawer-title{
            color: var(--blacktowhite);
        }
     }


     .Product_Left{
        img{
            mix-blend-mode: lighten !important;
        }
     }


     .Product_Description{
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-collapse , span, p{
            color: var(--blacktowhite) !important;
        }
     }


     .login_logo{
        background: var(--white);
        border-radius: 50%;
     }


     
    :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>td, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody >tr >td{
        background: #000;
        color: var(--white);
        &:hover{
            color: #000;
        }
    }
    :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>th{
        &:hover{
            color: var(--white);
        }
    }


    :where(.css-dev-only-do-not-override-1ae8k9u).ant-pagination .ant-pagination-item-active a{
        color: #000 !important;
    }


    .single_order{
        .card_header,.card_body, .card_footer{
            background: #000;
            border-color: #000;
        }
        .card_footer ,.card_body{
            border-top: 1px solid #7d7c7c !important;
        }
        .Gray_dark{
            color: #fff !important;
            opacity: .6 !important;
        }
        .White_dark{
            color: #fff !important;
        }
        .sub_body{
            background: var(--bg) !important;
            
        }
    }


    .CartItem{
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-btn.ant-btn-circle.ant-btn ,.Counter{
            color: var(--white);
        }
    }


    .StepsUi{
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps.ant-steps-vertical >.ant-steps-item .ant-steps-item-title, :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps.ant-steps-vertical >.ant-steps-item .ant-steps-item-description{
            color: var(--white);
        }
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps.ant-steps-vertical >.ant-steps-item .ant-steps-item-icon{
            border-color: var(--secondary);
            span{
                color: #fff !important;

            }
        }
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title ,:where(.css-dev-only-do-not-override-1ae8k9u).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description{
            color: var(--secondary);
        }
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)>.ant-steps-item-container[role='button']:hover .ant-steps-item-icon, :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
            background: var(--bg);
        }
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after{
            background: var(--secondary);
        }
    }
    
    .checked_quantity{
        :where(.css-dev-only-do-not-override-1ae8k9u).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
            background: #4096ff;
        }
    }


    // upload image text //
    :where(.css-dev-only-do-not-override-1ae8k9u).ant-btn >span{
        color: var(--white);
    }
}